<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpSoapStandardBinding"/>
                <binding name="HttpSoapBasicBinding"/>
                <binding name="HttpSoapRzpBinding"/>
                <binding name="HttpSoapOrBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi" binding="basicHttpBinding" bindingConfiguration="HttpSoapStandardBinding" contract="WS_ARES_STANDARD.HttpSoapStandard" name="StandardHttpSoapPort"/>
            <endpoint address="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi" binding="basicHttpBinding" bindingConfiguration="HttpSoapRzpBinding" contract="WS_ARES_RZP.HttpSoapRzp" name="RzpHttpSoapPort"/>
            <endpoint address="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi" binding="basicHttpBinding" bindingConfiguration="HttpSoapOrBinding" contract="WS_ARES_OR.HttpSoapOr" name="OrHttpSoapPort"/>
            <endpoint address="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi" binding="basicHttpBinding" bindingConfiguration="HttpSoapBasicBinding" contract="WS_ARES_BASIC.HttpSoapBasic" name="BasicHttpSoapPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
